# Please add user editor configs to system gitignore:
# git config --global core.excludesfile
# git config --global core.excludesfile ~/.gitignore
# see also: https://gist.github.com/subfuzion/db7f57fff2fb6998a16c
.clj-kondo
.clj-kondo/.cache
.cpcache
.lsp
.nrepl-port
.shadow-cljs
node_modules
/resources/public/electric_starter_app/js
/resources/electric-manifest.edn
/target
.DS_Store
data/dev/doc-store/000024.sst
data/dev/doc-store/000025.log
data/dev/doc-store/000029.log
data/dev/doc-store/000033.log
data/dev/doc-store/000037.log
data/dev/doc-store/000041.log
data/dev/doc-store/000045.log
data/dev/doc-store/000049.log
data/dev/doc-store/000053.log
data/dev/doc-store/000057.log
data/dev/doc-store/000061.log
data/dev/doc-store/000065.log
data/dev/doc-store/CURRENT
data/dev/doc-store/IDENTITY
data/dev/doc-store/LOCK
data/dev/doc-store/LOG
data/dev/doc-store/LOG.old.1722534123856213
data/dev/doc-store/LOG.old.1724020097868812
data/dev/doc-store/LOG.old.1724020207075095
data/dev/doc-store/LOG.old.1724024149316079
data/dev/doc-store/LOG.old.1724024405395374
data/dev/doc-store/LOG.old.1724024602682520
data/dev/doc-store/LOG.old.1724092367077611
data/dev/doc-store/LOG.old.1724092414259286
data/dev/doc-store/LOG.old.1724092578006549
data/dev/doc-store/LOG.old.1724095925363952
data/dev/doc-store/LOG.old.1724099324454222
data/dev/doc-store/LOG.old.1724100508681637
data/dev/doc-store/LOG.old.1724181077057956
data/dev/doc-store/LOG.old.1724181832724214
data/dev/doc-store/MANIFEST-000066
data/dev/doc-store/OPTIONS-000064
data/dev/doc-store/OPTIONS-000068
data/dev/index-store/000038.sst
data/dev/index-store/000039.sst
data/dev/index-store/000085.sst
data/dev/index-store/000088.sst
data/dev/index-store/000093.sst
data/dev/index-store/000094.log
data/dev/index-store/CURRENT
data/dev/index-store/IDENTITY
data/dev/index-store/LOCK
data/dev/index-store/LOG
data/dev/index-store/LOG.old.1722534123809012
data/dev/index-store/LOG.old.1724020097789833
data/dev/index-store/LOG.old.1724020207024899
data/dev/index-store/LOG.old.1724024149244948
data/dev/index-store/LOG.old.1724024405350289
data/dev/index-store/LOG.old.1724024602557739
data/dev/index-store/LOG.old.1724024602688363
data/dev/index-store/LOG.old.1724092367009830
data/dev/index-store/LOG.old.1724092414188982
data/dev/index-store/LOG.old.1724092577960399
data/dev/index-store/LOG.old.1724095925321153
data/dev/index-store/LOG.old.1724099324406964
data/dev/index-store/LOG.old.1724100508624124
data/dev/index-store/LOG.old.1724181077012805
data/dev/index-store/LOG.old.1724181832676491
data/dev/index-store/MANIFEST-000095
data/dev/index-store/OPTIONS-000092
data/dev/index-store/OPTIONS-000097
data/dev/tx-log/000024.sst
data/dev/tx-log/000025.log
data/dev/tx-log/000029.log
data/dev/tx-log/000033.log
data/dev/tx-log/000037.log
data/dev/tx-log/000041.log
data/dev/tx-log/000045.log
data/dev/tx-log/000049.log
data/dev/tx-log/000053.log
data/dev/tx-log/000057.log
data/dev/tx-log/000061.log
data/dev/tx-log/000065.log
data/dev/tx-log/CURRENT
data/dev/tx-log/IDENTITY
data/dev/tx-log/LOCK
data/dev/tx-log/LOG
data/dev/tx-log/LOG.old.1722534123885602
data/dev/tx-log/LOG.old.1724020097898787
data/dev/tx-log/LOG.old.1724020207102301
data/dev/tx-log/LOG.old.1724024149374936
data/dev/tx-log/LOG.old.1724024405422677
data/dev/tx-log/LOG.old.1724024602736763
data/dev/tx-log/LOG.old.1724092367107573
data/dev/tx-log/LOG.old.1724092414287762
data/dev/tx-log/LOG.old.1724092578035758
data/dev/tx-log/LOG.old.1724095925391773
data/dev/tx-log/LOG.old.1724099324482285
data/dev/tx-log/LOG.old.1724100508709379
data/dev/tx-log/LOG.old.1724181077087779
data/dev/tx-log/LOG.old.1724181832754310
data/dev/tx-log/MANIFEST-000066
data/dev/tx-log/OPTIONS-000064
data/dev/tx-log/OPTIONS-000068
.calva/output-window/output.calva-repl
